@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sloth";
  src: url("/fonts/Sloth-Regular.ttf");
}

@font-face {
  font-family: "Sloth";
  src: url("/fonts/Sloth-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "JUSTSans";
  src: url("/fonts/JUSTSans-Regular.otf");
}

@font-face {
  font-family: "JUSTSans";
  src: url("/fonts/JUSTSans-ExBold.otf");
  font-weight: bold;
}

body {
  @apply bg-zinc-900 text-zinc-100;
}
