<section
  class="mx-auto container min-h-screen flex flex-col items-center justify-center"
  id="about"
>
  <div>
    <h1 class="text-xl md:text-2xl uppercase tracking-widest">About me</h1>
    <p class="pt-8 font-head font-bold text-4xl md:text-7xl">
      I&apos;m a <span class="text-orange-400">full-stack</span> web developer with
      strong focus on creating{" "}
      <span class="text-orange-400">scalable</span> and{" "}
      <span class="text-orange-400">maintainable</span>{" "}
      applications.
    </p>
  </div>
</section>
<section
  class="mx-auto container min-h-screen flex flex-col items-stretch justify-center"
  id="about"
>
  <div>
    <h1 class="text-2xl uppercase tracking-widest">What I do</h1>
    <ul class="pt-8">
      <li
        class="flex items-center justify-between gap-8 border-t border-b border-zinc-700"
      >
        <h2 class="text-4xl md:text-8xl font-head uppercase font-bold">
          Frontend
        </h2>
        <p class="text-xl hidden md:block">
          I can build beautiful and responsive frontend
        </p>
      </li>
      <li
        class="flex items-center justify-between gap-8 border-t border-b border-zinc-700"
      >
        <h2 class="text-4xl md:text-8xl font-head uppercase font-bold">
          Backend
        </h2>
        <p class="text-xl hidden md:block">
          I can build highly performant and scalable backends.
        </p>
      </li>
      <li
        class="flex items-center justify-between gap-8 border-t border-b border-zinc-700"
      >
        <h2 class="text-4xl md:text-8xl font-head uppercase font-bold">
          UI/UX
        </h2>
        <p class="text-xl hidden md:block">
          I know the basics of designing with Figma.
        </p>
      </li>
    </ul>
  </div>
</section>
